.btn{
    padding: 12px 28px;
    font-weight: bold;
    font-size: 16px;
    background-color:red;
    border: none;
    color:white;
    height: fit-content;
    width: fit-content;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 9px 18px 0 #333333, 0 8px 24px 0 #333333;
}
.btn:hover {
    box-shadow: 0 14px 18px 0 #333333, 0 17px 50px 0 #333333;
    border: 1px red solid;
    color: red;
    background-color:white;
    cursor: pointer;
    }