
.imageContainerItem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: max-content;
    width: max-content;
}
.imagePosterContainerItem{
    border-radius: 0.8rem;
    overflow: hidden;
    height: max-content;
    width: max-content;
    box-shadow: 0 9px 8px 0 #333333, 0 8px 4px 0 #333333;
    }
    
.imagePosterItem{
    height: 180px;
    width: 240px;
}
.imagePosterNameItem{
    text-transform:Uppercase;
    color:#000814;
}

@media(max-width:450px){
    .imageContainerItem{
        margin-top: 4rem;
    }
}